* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    all: unset
}


img {
    width: 100%;
    height: 100%;
    display: block;
}

header {
    background-color: #ffc218;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.label-search {
    display: none;
}

.form-control {
    margin-right: 10px;
    padding: 10px;
}

.container-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card-movie {
    width: calc((100% - 100px) / 3);
    margin-bottom: 100px;

}

.btn-info {
    background-color: #006cfd;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    margin: 20px 0;
}

.container-movie-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-movie-detail img {
    width: 500px;
}

.container-movie-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.container-reviews {
    margin-top: 20px;
}

.container-reviews-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    padding: 20px 10px;
    border: 1px solid #808080;
    margin-top: 20px;
    border-radius: 20px;
}

.review-card-text {
    margin: 10px 0;
}

.review-card-author {
    color: #808080;
}

.star-rating {
    color: #fdc602;
}

.form-review {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container-form-input {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.container-form-input input {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

.container-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}